<h1>Burgers</h1>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-4">
            <h2>Undevoured Burgers</h2>
            <div class="burgers-div">
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burgers-card devoured=false}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-4">
            <h2>Devoured Burgers</h2>
            <div class="burgers-div">
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burgers-card devoured=true}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-10">
            <h2>Add a new burger!</h2>
            <form class="form-div">
                <div class="form-block">
                    <label>Burger Name</label>
                    <input type="text" id="burg-name" name="name">
                </div>
                <div class="form-block">
                    <label>Ingredients:</label><br>
                    {{#each allIngredients as |ingredients index|}}
                    <input type="checkbox" value={{index}}>{{ingredients}}
                    {{/each}}
                </div>
    
                    <label>New Ingredient</label>
                    <input type="text" id="ingr-name" name="name"><button id="submit-ingredient" type="submit">Add Ingredient</button>
                <button type="submit">Add Burger</button>
            </form>
        </div>
    </div>
</div>