<h1>Burgers</h1>

<h2>Undevoured Burgers</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burgers-card devoured=true}}
         {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers</h2>
<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burgers-card devoured=false}}
        {{/if}}
    {{/each}}
</ul>   
