<h1>Burgers</h1>

<h2>Undevoured Burgers</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burgers-card devoured=true}}
         {{/unless}}
    {{/each}}
</ul>

<h2>Devoured Burgers</h2>
<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burgers-card devoured=false}}
        {{/if}}
    {{/each}}
</ul>   
<h2>Add a new burger!</h2>
<form class= "form-div">
    <div class="form-block">
        <label for="ca">Burger Name</label>
        <input type="text" id="burg" name="name">
    </div>

    <button type="submit">Add Burger</button>

</form>